<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../styles/demo.css" />
</head>

<body>
    <div id="FileDialog" onclick="openFileDialog()">选择文件</div>
    <div id="app">
        <table>
            <thead>
                <tr>
                    <th v-for="d in head">
                        {{ d }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-if="body>0" v-for="body in bodys">
                    <th v-for="c in datalist[body]">
                        {{ c }}
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script src="../js/vue.js"></script>
<script>
    const electron = require('electron');
    const {
        dialog
    } = electron.remote

    function openFileDialog() {
        var filepath = dialog.showOpenDialog({
            properties: ['openFile', 'multiSelections']
        });

        console.log(filepath);
        // var _xlsx = _app.GetRemoetxlsx();
        var _xlsx = require("xlsx");
        var workbook = _xlsx.readFile(filepath[0]);
        console.log(workbook.Sheets["Sheet1"]);
        var fs = require('fs');

        // var vm = new Vue({
        //     el: '#app',
        //     data: {
        //         head: workbook.Sheets["Sheet1"].data[0],
        //         bodys: workbook.Sheets["Sheet1"].data.length,
        //         datalist: workbook.Sheets["Sheet1"].data
        //     }
        // })

        // var buffer = xlsx.build([{
        //     name: 'sheet333',
        //     data: excel[2].data
        // }]);

        // //将文件内容插入新的文件中
        // fs.writeFileSync('test1.xlsx', buffer, {
        //     'flag': 'w'
        // });
    }
</script>

</html>